@import "reset";

@font-face {
    font-family: 'Azonix';
    src: url('../assets/fonts/AzonixRegular.woff2') format('woff2'),
    url('../assets/fonts/AzonixRegular.woff') format('woff'),
    url('../assets/fonts/AzonixRegular.ttf') format('truetype');
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #fff;
    letter-spacing: 4px;
    line-height: 1.5;
}
.app {
    background: #020202 url("../assets/banner.jpg") no-repeat center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: column;

    .main {
        max-width: 740px;
        padding: 0 16px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
    }

    .wrapper {
        padding: 24px 0;
        text-align: center;
    }

    .content {
        margin-top: 28px;
    }
    .content-sm {
        width: 358px;
        margin-left: auto;
        margin-right: auto;
    }

    .logo {
        max-width: 125px;
        width: 100%;
        margin: 0 auto;

        img {
            width: 100%;
            display: block;
        }
    }

    .logo-text {
        max-width: 570px;
        width: 100%;
        margin: 0 auto;

        img {
            width: 100%;
            display: block;
        }
    }
    .title {
        font-size: 24px;
        font-weight: 900;
        margin-bottom: 16px;
    }

    .text {
        letter-spacing: 0.2em;
        text-transform: capitalize;
    }

    .small-text {
        font-size: 14px;
    }

    .main-text {
        padding-bottom: 16px;
    }



    .info {
        color: #5FD5FF;
    }
    .uppercase {
        text-transform: uppercase;
    }

    .button-wrapper {
        text-align: center;
        margin-top: 32px;
        margin-bottom: 16px;
    }

    .button {
        max-width: 358px;
        width: 100%;
        height: 48px;
        line-height: 48px;
        font-size: 18px;
        text-transform: uppercase;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 900;
        padding: 0 16px;
        background-color: #5FD5FF;
        cursor: pointer;
        transition: background-color .3s;

        &:hover {
            background-color: darken(#5FD5FF, 30%);
        }
    }

    .grid {
        display: flex;
        flex-wrap: wrap;
        margin-left: -10px;

        .grid-item {
            margin-left: 10px;
            margin-bottom: 10px;

            &:first-child {
                flex: 2;
            }

            &:nth-child(2) {
                flex: 3;
            }

            &:nth-child(3) {
                width: 100%;
            }
        }

        .button-big {
            height: 148px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            font-size: 64px;
            font-family: 'Azonix', serif;
            color: #ffffff;
            transition: .3s;

            &:hover {
                background-color: rgba(172, 244, 254, 0.08);
            }


            &[disabled] {
                opacity: .4;
                pointer-events: none;
            }

        }
    }

    .glow-block {
        border: 2px solid #5FD5FF;
        //filter: blur(8px);
        box-shadow: 0 0 8px #5FD5FF, 0 0 12px #5FD5FF inset;
    }

    .row {
        display: flex;
        height: 48px;
        line-height: 44px;
        font-size: 18px;
        text-transform: uppercase;
        margin-bottom: 10px;
        letter-spacing: 1px;

        >div {
            &:first-child {
                flex: 2;
                border-right: 2px solid #5FD5FF;
                box-shadow: 0 0 6px #5FD5FF, 0 0 6px #5FD5FF inset;
            }
            &:nth-child(2) {
                flex: 3;
            }
        }

    }

    .counter {
        display: flex;
        align-items: center;
        justify-content: space-around;
        font-size: 18px;

        button {
            cursor: pointer;

            &[disabled] {
                opacity: 0.5;
                cursor: auto;
                pointer-events: none;
            }
        }
    }

    .pointer-none {
        pointer-events: none;
    }

    .warn-text {
        font-size: 14px;
    }


    .lds-ring {
        display: inline-block;
        position: relative;
        width: 20px;
        height: 18px;
        margin-left: 24px;
    }

    .lds-ring div {
        box-sizing: border-box;
        display: block;
        position: absolute;
        width: 20px;
        height: 20px;
        border: 3px solid black;
        border-radius: 50%;
        animation: ldsRing 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        border-color: black transparent transparent transparent;
    }

    .lds-ring div:nth-child(1) {
        animation-delay: -0.45s;
    }

    .lds-ring div:nth-child(2) {
        animation-delay: -0.3s;
    }

    .lds-ring div:nth-child(3) {
        animation-delay: -0.15s;
    }

    footer {
        padding: 16px 0;
        text-align: center;
        color: hsla(0,0%,100%,.3);
        font-size: 14px;

        a {
            transition: .3s;

            &:hover {
                color: hsla(0,0%,100%,.8);
            }

        }
    }
}

.opacity {
    opacity: 0.4;
}

@media (max-width: 400px) {
    .app {
        .content-sm {
            width: 100%;
        }
    }

}


@keyframes  ldsRing{
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
